@tailwind base;
@tailwind components;
@tailwind utilities;


div.hr{
    width:70%;
}
    

div.hr:after {
    content:'';
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #fa6304 transparent;   
}


.flip {
    -webkit-animation: flip 1s;
    animation: flip 1s;
  }
  @-webkit-keyframes flip {
    from {
      transform: rotateY(90deg)
    }
    to {
      transform: rotateY(0deg)
    }
  }
  @keyframes flip {
    from {
      transform: rotateY(90deg)
    }
    to {
      transform: rotateY(0deg)
    }
  }


  .toastBody {
    font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
    color: #10171D; /* #10171D */
    font-size: 0.875rem !important;
  }
  .toastProgress {
    background: #333F48 !important;
  }
 

  @media (max-width: 500px) { 
    .desktop{
      display: none;
    }
   }